#navbar {
	background: #222;
	color: #FAFAFA;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-logo {
	width: 118px;
}

.navbar-tabs > a {
	margin: 0 10px;
	text-decoration: none;
	color: inherit;
}

.navbar-tabs > .active {
	padding-bottom: 5px;
	border-bottom: solid 2px #0aac8e;
}