.showcase-item {
	text-decoration: none;
	color: inherit;
	display: block;
	flex: 1;
	min-width: 200px;
	max-width: 300px;
	margin: 7px;
	background: #FAFAFA;
	border-radius: 5px;
	overflow: hidden;
}

.showcase-item img {
	width: 100%;
}

.showcase-item h1 {
	font-size: 1.3em;
	margin: 10px 8px;
	color: #333;
	text-align: center;
}

.rectangle:before {
	content: "";
	float: left;
	padding-bottom: 162%;
}

.rectangle:after {
	content: "";
	display: table;
	clear: both;
}

.square:before {
	content: "";
	float: left;
	padding-bottom: 100%;
}

.square:after {
	content: "";
	display: table;
	clear: both;
}